body{
	font-family: 'Roboto Mono', monospace;
}



button{
	background-color: #f9e970;
	border: 2px solid black;
	width: 150px;
	height: 150px;
	margin: 0px 3px 0px 3px;
	display: inline-block;
	top: 50px;
	font-size: 15px
}

.match, .score{
	text-align: center;
	padding: 10px 0px 0px 0px;
}

.buttons{
  display: flex;
  justify-content: center;
}

button:active{
	transform: scale(1.1, 1.1);
}

